.App {
  width: 80%;
  margin: 50px auto;
}

button:hover {
  cursor: pointer;
}

div.pbar {
  height: 20px;
  background-color: turquoise;
  border-radius: 3px;
  text-align: center;
  font-size: 0.9em;
  padding-top: 3px;
  margin-bottom: 5px;
}

div.drop {
  display: inline-block;
  margin-right: 20px;
}

p.drop-text {
  position: absolute;
  width: 160px;
  padding: 70px 20px;
  font-size: 0.8em;
  text-align: center;
}
